@font-face {
    font-family: "Montserrat";
    src: url("../stuff/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
html {
    scrollbar-gutter: stable;
}
body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0 15px;
    background-color: rgba(180, 184, 127, 0.712);
}

main {
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration:underline rgba(62, 66, 66, 0.162) 12%;
}
h2,h3,h4 {
    margin-top: 30px;
    color: hsl(181, 47, 33);
    border-bottom: 2px solid hsl(219, 32, 91);
    padding-bottom: 5px;
    text-decoration:underline rgba(62, 66, 66, 0.162) 12%;
}
p {
    line-height: 1.75;
}
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    line-height: 25px;
}
.container {
    max-width: 1050px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#button1 {
    border-radius: 11px;
    background-color: rgb(180, 184, 127, 0);
    color: rgb(105, 156, 152);
    transition: 1.1s;
}
#button1:hover {
    box-shadow:0 2px 4px 0 rgb(180, 184, 127);
    transform: scale(1.11);
}
#button2 {
    border-radius: 11px;
    background-color: rgb(180, 184, 127, 0);
    color: rgb(105, 156, 152);
    transition: 1.1s;
}
#button2:hover {
    box-shadow:0 2px 4px 0 rgb(180, 184, 127);
    transform: scale(1.11);
}
#button3 {
    border-radius: 11px;
    background-color: rgb(180, 184, 127, 0);
    color: rgb(105, 156, 152);
    transition: 1.1s;
}
#button3:hover {
    box-shadow:0 2px 4px 0 rgb(180, 184, 127);
    transform: scale(1.11);
}
#img1, #img2, #img3 {
    border-radius: 50%;
    box-shadow: 0 15px 40px rgba(0,0,0,0.25)  
    
}
#img4 {
    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    
}
figure {
    text-align-last: center;
}
figcaption {
    text-decoration: underline;
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery figure {
    text-align: center;
}
.gallery-item:hover {
    transform: scale(1.1)
}
.modal-content {
    border-radius: 5%;
    position: relative;
    width: 50%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    animation: zoomIn 0.5s;
}
@keyframes zoomIn {
    from {transform: scale(0.6);}
    to {transform: scale(1);}
}
.modal {
    display: none;
}

.modal.show {
    display: flex;
    position: fixed;
    inset: 0; 
    background: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color:hsl(180, 100%, 50%);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
}
.caption {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: hsl(180, 100%, 50%);
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .gallery-item {
        width: calc(50% - 20px);
    }
}
@media screen and (max-width: 460px) {
    .gallery-item {
        width: calc(100% - 20px);
    }
}
